body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    background-color: #2C2B3D;

}

.page {
    width: 1280px;
    margin: 0 auto 0;
    padding: 71px 98px 28px 99px;
}

main {
    display: flex;
    padding: 90px ;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 107px;
}

.roll {
    list-style: none;
    display: flex;
    gap: 64px ;
    margin: 0;
    padding: 0;
}

ul li a {
    opacity: 1;
  }
  
  ul li a:hover {
    font-weight: bold;
  }

a {
    color: #fff;
    text-decoration: none;
    font-family: 'JetBrains Mono', sans-serif;
}

a:hover {
    font-weight: bold;
}

.text {
    color: #fff;
    font-family: 'JetBrains Mono', sans-serif;
    text-align: center;
    line-height: 28px;
    padding-left: 89px;
}

h1 {
    margin: 51px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
}

.text p {
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.text span {
    color: #00BFA6;
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF
}

.padlock {
    position: fixed;
    left: 20;
    bottom: 0;
}

.line {
    width: 568px;
    height: 0px;
  
    margin: 157px auto 27px;
  
  
    border: 1px solid #00BFA6;
  } 